/* base.css */

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");

/* Estilos globais */
body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  background-color: #f4f4f9;
  overflow-x: hidden; /* Impede o scroll horizontal */
}

/* Temas */
.light-theme .sidebar {
  background: #f9f9f9;
  color: #333;
}

.light-theme .sidebar-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.light-theme .sidebar-header h1 {
  color: #333;
}

.light-theme .submenu-item {
  border-bottom: 1px solid #dcdcdc;
}

.light-theme .menu-item:hover,
.light-theme .menu-item.active,
.light-theme .submenu-item:hover {
  background-color: #e0e0e0;
}

.light-theme .menu-item .icon,
.light-theme .submenu-item .icon {
  color: #666;
}

.light-theme .menu-toggle,
.light-theme .theme-toggle {
  background-color: #f0f0f0;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.light-theme .menu-toggle:hover,
.light-theme .theme-toggle:hover {
  background-color: #e0e0e0;
}

.light-theme .fixed-menu-item {
  background-color: #f9f9f9;
  border-left: 4px solid transparent;
}

.light-theme .fixed-menu-item:hover,
.light-theme .fixed-menu-item.active {
  background-color: #e0e0e0;
  border-left: 4px solid #bbb;
}

.light-theme .fixed-menu-item .icon {
  color: #666;
}

.light-theme .fixed-menu-item .menu-text {
  color: #333;
}

.dark-theme .sidebar {
  background: #333;
  color: white;
}

.dark-theme .sidebar-header {
  background-color: #222;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-theme .sidebar-header h1 {
  color: #ecf0f1;
}

.dark-theme .submenu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-theme .menu-item:hover,
.dark-theme .menu-item.active,
.dark-theme .submenu-item:hover {
  background-color: #444;
}

.dark-theme .menu-item .icon,
.dark-theme .submenu-item .icon {
  color: white;
}

.dark-theme .menu-toggle,
.dark-theme .theme-toggle {
  background-color: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dark-theme .menu-toggle:hover,
.dark-theme .theme-toggle:hover {
  background-color: #444;
}

.dark-theme .fixed-menu-item {
  background-color: #333;
  border-left: 4px solid transparent;
}

.dark-theme .fixed-menu-item:hover,
.dark-theme .fixed-menu-item.active {
  background-color: #444;
  border-left: 4px solid #666;
}

.dark-theme .fixed-menu-item .icon {
  color: white;
}

.dark-theme .fixed-menu-item .menu-text {
  color: white;
}

/* Botões de alternância */
.toggle-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  display: flex;
  gap: 10px;
}

.menu-toggle {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
}

.menu-toggle-icon {
  font-size: 24px;
}

.theme-toggle {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
}

.theme-toggle i {
  font-size: 20px;
}

/* Conteúdo */
.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 280px;
}

.content-inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsividade */
@media (max-width: 768px) {
  .toggle-buttons {
    top: 20px;
    left: 20px;
    right: auto;
  }

  .menu-toggle {
    left: 20px;
  }

  .content {
    margin-left: 0;
  }
}
