@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");

/* Estilos globais */
body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  background-color: #f4f4f9;
  overflow-x: hidden; /* Impede o scroll horizontal */
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 12px 6px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, color 0.2s;
  font-size: 14px;
}

.menu-item:hover,
.menu-item.active {
  background-color: var(
    --menu-hover-active-bg
  ); /* Cor mais escura no hover e ativo */
}

.menu-item.active-submenu > .menu-text {
  background-color: var(--menu-open-bg);
}

.menu-text {
  font-size: 14px;
  font-weight: 400;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.icon {
  margin-right: 10px;
  font-size: 16px;
}

.fixed-menu-item {
  padding: 12px 6px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, color 0.2s;
  font-size: 14px;
  border-left: 4px solid transparent;
}

.fixed-menu-item:hover,
.fixed-menu-item.active {
  border-left: 4px solid #666;
}

.fixed-menu-item .icon {
  font-size: 16px;
  margin-right: 10px;
}

.fixed-menu-item .menu-text {
  font-size: 14px;
  font-weight: 500;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.submenu {
  list-style: none;
  padding-left: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out, padding-left 0.2s ease;
  border-left: 2px solid transparent;
}

.submenu.show {
  max-height: 1000px;
  border-left: 2px solid var(--submenu-border);
  padding-left: 10px;
}

.submenu-item {
  padding: 10px 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s, color 0.2s;
  font-size: 14px;
  position: relative;
}

.submenu-item:hover {
  background-color: var(--submenu-item-hover-bg);
}

.menu-item-open {
  background-color: var(
    --menu-open-bg
  ); /* Cor mais escura para o item do menu aberto */
}

.menu-item-open .menu-text {
  background-color: var(
    --menu-open-bg
  ); /* Cor mais escura para o texto do item do menu aberto */
}

.submenu-item-open {
  background-color: var(
    --submenu-item-open-bg
  ); /* Cor mais escura para o item do submenu aberto */
}

.submenu-item-open:hover {
  background-color: var(
    --submenu-item-open-bg
  ); /* Cor de fundo para o item do submenu aberto ao passar o mouse */
}

/* Temas */
.light-theme {
  --menu-hover-active-bg: #f9f9f9;
  --menu-open-bg: #f9f9f9;
  --submenu-border: #ddd;
  --submenu-item-hover-bg: #f9f9f9;
  --submenu-item-open-bg: #f9f9f9;
}

.dark-theme {
  --menu-hover-active-bg: #333;
  --menu-open-bg: #444;
  --submenu-border: #444;
  --submenu-item-hover-bg: #333;
  --submenu-item-open-bg: #444;
}
