/* Sidebar */
.sidebar {
  font-family: "Barlow", sans-serif;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #333;
  transition: left 0.2s ease;
  padding-bottom: 20px;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.sidebar::-webkit-scrollbar-track {
  background: #444;
  border-radius: 10px;
}

.sidebar-header {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 50px; /* Aumenta o tamanho do logo */
  height: auto;
}

.logo-container h1 {
  font-size: 20px; /* Aumenta o tamanho do texto */
  margin: 0;
  font-weight: 600;
  color: #ecf0f1;
}

.menu-section {
  margin-top: 20px;
  padding: 0 10px; /* Adiciona espaçamento horizontal */
}

.menu-section ul.menu {
  padding: 0;
}

.menu-section ul.menu li {
  list-style: none;
}

.menu-divider {
  border-top: 1px solid #6d57a5;
  margin: 20px 0;
}
